<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Dwx17.Clients.AndroidApp.Dwx17.Clients.AndroidApp" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="16" />
	<application android:label="Dwx17.Clients.AndroidApp"></application>
</manifest>